
mixin modal() 
 
	//- #modal-win.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modal-win', aria-hidden='true')
		
	//- 	div( class="   modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			+input("tel","Введите ваш телефон")(name="tel" required) 
				
	//- 			+e.BUTTON.btn.btn.btn-accent.btn-block Отправить
	//- 			+b.wrap-polite
	//- 				+b.custom-input.polite
	//- 					+b.LABEL.custom-input.polite
	//- 						+e.INPUT.input.__input-radio(type="checkbox" checked name="polite" required value="")
	//- 						+e.SPAN.lab
	//- 						| Даю 
	//- 						| 
	//- 						span.link( data-toggle='modal', data-target='#exampleModal2') согласие 

	//- 						| на хранение и обработку   персональных данных
	
 

	//- #thanks.modal.fade(tabindex='-1', role='dialog', aria-labelledby='thanks', aria-hidden='true')
	//- 	div( class=" ttext-center  modal-dialog  modal-dialog-centered  " role='document') 
	//- 		+form-wrap()(class=" modal-content modal-win ")
	//- 			button.close.mfp-close(type='button', data-dismiss='modal', aria-label='Close')  ×
	//- 			br
	//- 			.h2 Заявка принята
	//- 			br
	//- 			.h3 Скоро с Вами свяжутся
	//- 			br 
	.d-none
		+b.modal-win--stock(id="modal-stock" class="   modal-form" )
			.modal-content
			+e.btn.link-modal(href="#modal-call" data-title="Принять участие в акции" data-btn="Принять участие в акции" data-order="")  Принять участие в акции
		// #modal-stock
		
		+b.modal-win--stock(id="modal-policy" class="   modal-form" )
			.modal-content
				h2.text-center.strong.pf Политика
				p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, possimus. Fugit commodi, quod odit deserunt sint aperiam reiciendis voluptates dolores omnis temporibus repellendus nostrum nihil maiores quis iste earum porro aliquid sapiente. Neque praesentium nobis dolor dignissimos? Suscipit iste consequatur numquam obcaecati. Nam, minima iste. Ratione culpa dolorum incidunt aliquam? Facilis magnam perferendis, suscipit maiores consequatur porro dignissimos iure assumenda rerum odit recusandae voluptas laborum, ad nam perspiciatis quos nisi.
				p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, possimus. Fugit commodi, quod odit deserunt sint aperiam reiciendis voluptates dolores omnis temporibus repellendus nostrum nihil maiores quis iste earum porro aliquid sapiente. Neque praesentium nobis dolor dignissimos? Suscipit iste consequatur numquam obcaecati. Nam, minima iste. Ratione culpa dolorum incidunt aliquam? Facilis magnam perferendis, suscipit maiores consequatur porro dignissimos iure assumenda rerum odit recusandae voluptas laborum, ad nam perspiciatis quos nisi.
				p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, possimus. Fugit commodi, quod odit deserunt sint aperiam reiciendis voluptates dolores omnis temporibus repellendus nostrum nihil maiores quis iste earum porro aliquid sapiente. Neque praesentium nobis dolor dignissimos? Suscipit iste consequatur numquam obcaecati. Nam, minima iste. Ratione culpa dolorum incidunt aliquam? Facilis magnam perferendis, suscipit maiores consequatur porro dignissimos iure assumenda rerum odit recusandae voluptas laborum, ad nam perspiciatis quos nisi.
				p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, possimus. Fugit commodi, quod odit deserunt sint aperiam reiciendis voluptates dolores omnis temporibus repellendus nostrum nihil maiores quis iste earum porro aliquid sapiente. Neque praesentium nobis dolor dignissimos? Suscipit iste consequatur numquam obcaecati. Nam, minima iste. Ratione culpa dolorum incidunt aliquam? Facilis magnam perferendis, suscipit maiores consequatur porro dignissimos iure assumenda rerum odit recusandae voluptas laborum, ad nam perspiciatis quos nisi.
		// #modal-stock
		
		+form-wrap()(id="modal-call" class="  modal-win modal-form" )
			.text-center
				+e.title--js
				p Заполните форму, мы&nbsp;свяжемся с&nbsp;Вами сразу как получим вашу заявку.
			+input("Введите имя")(required) 
			+input("+_(___)-___-__-__","tel")(required)
			//- +input("email","Ваше email")(required)
			//- +text( "Комментарий")
			+e.BUTTON.btn(type="submit") 
			+polite()
		// #modal-call
	
		
		+b.form-wrap(id="modal-thanks" class="  modal-win modal-form" )
			.text-center
				+e.title Спасибо
				p Мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшее время для уточнения деталей 
		// #modal-thanks
	
	// modal