mixin s-stocks()
	// start s-stocks
	+b.SECTION.s-stocks.section#s-stocks&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 наши акции
				+e.text акции и&nbsp;конкурсы распространяются на&nbsp;учеников нашей автошколы
				
			.row
				- for (var x = 1; x <= 6; x++)
					+e.col.col-lg-4.col-md-6
						+e.img-wrap(href="#") 
							img.lazy(src="#" data-src=`img/@2x/stock-${x}.jpg`, alt="")
					// /+e.col.col-lg-4.col-md-6
	// end s-stocks