mixin s-stocks(t)
	// start s-stocks
	+b.SECTION.s-stocks.section#s-stocks&attributes(attributes)
		.container
			if t
				+b.section-title.text-center
					h2 наши акции
					+e.text акции и&nbsp;конкурсы распространяются на&nbsp;учеников нашей автошколы
			else
				block
			.row
				- for (var x = 1; x <= 6; x++)
					+e.col.col-lg-4.col-md-6
						+e.img-wrap.link-modal.link-modal-stock-js(href="#modal-stock")
							img.lazy(src="#" data-src=`img/stock-${x}.jpg`, alt="") 
						.d-none.js-block
							
							.title=` конкурс: оригинальные airpods ${x}` 
							p Самая удобная акция на&nbsp;свете: выбирай&nbsp;то, что хочешь сам!

							p Сет Атлантида за&nbsp;459&nbsp;рублей! Филадельфия Лайт, Калифорния с&nbsp;лососем Люкс, Акваланг запеченный унаги, Цезарь с&nbsp;курицей запечённый унаги.

							p Количество товаров по&nbsp;акции неограниченно. По&nbsp;одному промокоду можно заказать сколько угодно позиций&nbsp;&mdash; вместе или по&nbsp;отдельности.

							p Чтобы воспользоваться акцией:
								br
								| 1. Добавь товары в&nbsp;корзину.
								br
								| 2. Введи промокод Легко в&nbsp;специальном поле. Цена пересчитается автоматически.
					// /+e.col.col-lg-4.col-md-6
	// end s-stocks