.s-other-category {
	text-align: center; 
	padding-bottom: rem(80px); 
	&__item{
		margin-top: rem(20);
		background-color: #ffffff;
		border-radius: 15px;
		border: 1px solid #dadde2;
		@include mt;
		// margin-bottom: rem(10);
		&:hover{
			box-shadow: 0 5px 15px rgba(32, 22, 0, 0.2);
		}
		.icon{
			font-size: rem(22);
			margin-left: rem(5);
			margin-right: rem(5);
			stroke: #bbbbbb;
			stroke-width: 1px ;
			color: transparent;
			margin-bottom: rem(25);
			&.star-active{
				stroke: $primary;
				color: $primary;
				stroke-width: 0;
				font-size: rem(24);
			}
		}
	}
	&__body{
		
		padding: rem(28) rem(10) 0;
		border-bottom: 1px solid #dadde2;
	}
	&__foot{
		padding: rem(20) rem(10) rem(15);

	}
	&__btn{
		@extend .btn;
		@extend .btn-sm;
		@extend .btn-primary;
		@extend .btn-block;
		margin-left: auto;
		margin-right: auto;
		max-width: rem(230);
		margin-top: rem(17);
		margin-bottom: rem(12);
		
	}
	&__price{
		font-weight: 500;
		line-height: 1;
		text-transform: uppercase;
		// @include rfs(rem(48));
		@extend .h5;
		@extend .pf;
		margin-bottom: rem(10);
	}

	&__title{
		@extend .asph;
		@include rfs(rem(29));
		line-height: 1;
	}
	&__img-wrap{
		margin-top: rem(20);
		height: rem(170); 
	}

	&__slider{
		margin-left: -15px;
		margin-right: -15px;
	}
	&__slide{
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: rem(50);
	}
  
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}