extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-tariffs/_s-tariffs.pug
include ../blocks/s-other-category/_s-other-category.pug
include ../blocks/s-auto/_s-auto.pug
include ../blocks/s-services/_s-services.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'Услуги'
	title= title
block pagecontent
 
	+mob-mnu()
	+header()
		+top-nav()
		+top-line()
	+b.page-title
		.container
			+breadcrumb("Главная","Услуги")
			h1= title
	//- +header-block()
	//- +s-tariffs("t")
	//- +s-other-category("t")
	//- +s-auto("t")
	+s-services()
	+s-contact()
		+b.section-title.text-center
			h2 остались вопросы?
			+e.text Позвоните нам или оставьте заявку, мы&nbsp;свяжемся с&nbsp;вами и&nbsp;все расскажем
	//- +footer()