.top-line {
  padding-top: rem(7);
  padding-bottom: rem(7);
  @include media-breakpoint-up(lg) {

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  @include media-breakpoint-up(lg) {
    
    background: #ffffff;
  }
  // background-color: #1c1d1c;
  .row{
    @include roww(10);
    align-items: center;
    flex-wrap: nowrap;
    .row{
      justify-content: flex-end;
    }
  }
	&__logo-wrap{
    text-align: center;
    @include media-breakpoint-up(lg) {

      margin-top: rem(-60);
    }
    position: relative;
    top: rem(3);
		img{
      width: rem(84 * 1.2);
      height: rem(100 * 1.2);
      @include mt;
    }
  }
  @include media-breakpoint-down(md) {
    &.fixed{
      img{
        width: rem(84 * .7);
        height: rem(100 * .7);
      }
    }
  }
  &__text,
  &__tel{
    @extend .h5;
    @extend .pf;
    font-weight: 500;
    text-transform: uppercase;
    @extend .text-body;
    text-decoration: none !important;
    line-height: 1;
    margin-top: rem(10);
    span{
      display: inline-block;
    }


  }
  &__icon-wrap{
    @extend .btn;
    @extend .btn-primary;
    border-radius: 50%;
    width: rem(30px * 1.2);
    height: rem(30px * 1.2);
    line-height: rem(30* 1.2);
    text-align: center;
    display: inline-block;
    padding: 0;
    .icon{
      font-size: rem(12* 1.2);
    }
  }
  &__btn{
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-sm;
    width: rem(230);
    .row{
      align-items: center;
    }
  }
	
// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
}