
.top-line {
  padding-top: rem(7);
  padding-bottom: rem(7);
  @include media-breakpoint-up(lg) {

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  }
  @include media-breakpoint-up(lg) {
    
    background: #ffffff;
  }
  // background-color: #1c1d1c;
  .row{
    @include roww(10);
    align-items: center;
    flex-wrap: nowrap;
    .row{
      justify-content: flex-end;
    }
  }
	&__logo-wrap{
    text-align: center;
    @include media-breakpoint-up(lg) {

      margin-top: rem(-60);
    }
    position: relative;
    top: rem(3);
		img{
      width: rem(84 * 1.2);
      height: rem(100 * 1.2);
      @include mt;
    }
  }
  @include media-breakpoint-down(md) {
    &.fixed{
      img{
        width: rem(84 * .7);
        height: rem(100 * .7);
      }
    }
  }
  &__text,
  &__tel{
    @extend .h5;
    @extend .pf;
    font-weight: 500;
    text-transform: uppercase;
    @extend .text-body;
    text-decoration: none !important;
    line-height: 1;
    margin-top: rem(10);
    span{
      display: inline-block;
    }
    
    
  }
      &__tel{
        animation: spaceboots 4s linear infinite;
        position: relative;
        display: inline-block;
      }
  &__icon-wrap{
    @extend .btn;
    @extend .btn-primary;
    border-radius: 50%;
    width: rem(30px * 1.2);
    height: rem(30px * 1.2);
    line-height: rem(28* 1.2);
    text-align: center;
    display: inline-block;
    padding: 0;
    .icon{
      font-size: rem(12* 1.2);
    }
  }
  &__btn{
    @extend .btn;
    @extend .btn-primary;
    @extend .btn-sm;
    width: rem(230);
    .row{
      align-items: center;
    }
  }
	
// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
}
body:not(.main-page) .top-line{
  @include media-breakpoint-down(md) {
    img{
      width: rem(84 * .7);
      height: rem(100 * .7);
    }
  }

}
@-webkit-keyframes spaceboots {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg);
  }

  1% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }

  2% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }

  3% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
            transform: translate(0px, 2px) rotate(0deg);
  }

  4% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }

  5% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }

  6% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }

  7% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
            transform: translate(2px, 1px) rotate(-1deg);
  }

  8% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }

  9% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
            transform: translate(2px, 2px) rotate(0deg);
  }

  10% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }

  11% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
  }
}

@keyframes spaceboots {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
            transform: translate(2px, 1px) rotate(0deg);
  }

  1% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }

  2% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }

  3% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
            transform: translate(0px, 2px) rotate(0deg);
  }

  4% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }

  5% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }

  6% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }

  7% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
            transform: translate(2px, 1px) rotate(-1deg);
  }

  8% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }

  9% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
            transform: translate(2px, 2px) rotate(0deg);
  }

  10% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }

  11% {
    -webkit-transform: translate(0, 0) rotate(0deg);
            transform: translate(0, 0) rotate(0deg);
  }
}
