.top-nav {
	&.fixed{

		background-color: #191c1a;
	}

	ul{
	 
			position: relative;
			list-style-type: none;
	
		
		display: flex;
		@include roww(10);
		margin-bottom: 0;
		padding-bottom: 0;
		justify-content: space-between;
		a{
			@extend .pf;
			@extend .h6;
			font-weight: 500;
			margin-bottom: 0;
			display: block;
			color: #ffffff;
			text-transform: uppercase;
			border-bottom: 2px solid transparent;
			padding: rem(20) 0 rem(16);
			text-decoration: none !important;
			&:hover{
				opacity: 0.7;

			}
			&.active{
				color: $primary;
				border-color: $primary;
				opacity: 1 !important;
			}
		}
		li{
			&:nth-child(4){
				margin-right: rem(175);
			}
		}
	}
	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}

// мобильное меню

// мобильное меню
$h: 3px;

.toggle-menu-mobile {
	display: block;
	height: $h* 14; 
	margin-left: 0;
	// position: fixed;
	position: relative;
	z-index: 999 !important;
	right: 0;
	padding: 3px;
	border-radius: 5px;
	top: $h;


	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}
	span{
		@include a-cent(y);
	}
	span:before {

		
		top: $h * 3;
	}
	span:after {
		bottom: $h * 3;
	}

	span {
		position: relative;
		display: block;
	}

	span,
	span:after,
	span:before {
		// width: 32px;
		font-size: 30px;
		width: 30px;
		height: $h;
		background-color: #fff;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 2px;
	}

	&.on {
		// opacity: 0;
	}

	&.on span {
		background-color: transparent;
	}

	&.on span:before {
		top: 0;
		bottom: 0;
		transform: rotate(45deg) ;
		transform-origin: 50% 50%;
	}

	&.on span:after {
		top: 0;
		bottom: 0;
		transform: rotate(-45deg) ;
		transform-origin: 50% 50%;
	}
}

.menu-mobile {
	position: fixed !important;
	z-index: 1072;
	max-width: 85%;
	height: 101vh;
	width: 280px;
	top: 0;
	left: 0;
	// right: 0;
	transform: translate(-100%, 0);
	@include mt(.1);
	will-change: transform;

	&__inner {
		background-color: #fff;
		padding: rem(70) 0 5%;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: 100%;
	}

	&.active {
		transform: translate(0, 0);

		.toggle-menu-mobile {
			opacity: 1;
			// margin-left: -15%;
		}
	}

	.toggle-menu-mobile {
		// position: relative;
		cursor: pointer;
		position: absolute;
		opacity: 0;
		// left: 0;
		right: rem(10);
		color: #cbcbcb;
		top: 10px;
		z-index: 9999;
		background-color: transparent;

		span,
		span:after,
		span:before {
			background-color: #cbcbcb;
			width: rem(24);
			height: 2px;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}
	}

	ul {
		position: relative;
		list-style-type: none;
	}
	
	li {
		list-style-type: none;
		display: block;
		margin: 0;
		border-top: 1px solid rgba(255, 255, 255, .13);

		a {
			// font-size: 16px;

			padding: 10px;
			display: block;
			text-transform: uppercase;
			color: $black;
			font-family: "PF Din Text Cond Pro";
			font-weight: 500;
			font-size: rem(18);
			&.active{
				color: $primary;
			}
		}
	}
}