mixin header-block()
	// start header-block
	+b.header-block#header-block(data-bg="img/@2x/pattern.jpg")
		.container
			+e.top-text.d-lg-none  АВТОШКОЛА В ТОЛЬЯТТИ 
				|
				span.text-primary ОТ 7000 руб.
			h1 Уже смотрели сайты конкурентов?
			+e.sub-text У&nbsp;нас вы&nbsp;получаете ряд преимуществ, которые не&nbsp;доступны в&nbsp;других автошколах:
			.row
				mixin item(i)
					+e.col.col-lg-3.col-6
						+e.icon-wrap
							img.lazy.res-i(src="#" data-src=`img/svg/${i}`, alt="")
						block
					// /+e.col.col-lg-3.col-6
				+item("wallet.svg")
					+e.text Начни обучение за&nbsp;1000&nbsp;руб. Не&nbsp;понравится&nbsp;&mdash; вернём деньги!
				+item("tv.svg")
					+e.text Вебинарное обучение в&nbsp;подарок каждому ученику 
						|
						span.text-danger до&nbsp;28.10.2019
				+item("businessman.svg")
					+e.text Персональный инструктор у&nbsp;каждого ученика
				+item("shield.svg")
					+e.text При неудачной сдаче экзамена в&nbsp;МРЭО&nbsp;&mdash; занятие с&nbsp;разбором ошибок
			+e.slider-title записывайся и&nbsp;выигрывай 
				| 
				span.text-primary реальные призы:
			+e.slider.two-slide-js
				- for (var x = 1; x <= 3; x++)
					+e.slide
						+e.img-wrap.link-modal.link-modal-stock-js(href="#modal-stock")
							img(src="#" data-lazy=`img/stock-slide-${x}.jpg`, alt="")
						.d-none.js-block
							
							.title=` конкурс: оригинальные airpods ${x}` 
							p Самая удобная акция на&nbsp;свете: выбирай&nbsp;то, что хочешь сам!

							p Сет Атлантида за&nbsp;459&nbsp;рублей! Филадельфия Лайт, Калифорния с&nbsp;лососем Люкс, Акваланг запеченный унаги, Цезарь с&nbsp;курицей запечённый унаги.

							p Количество товаров по&nbsp;акции неограниченно. По&nbsp;одному промокоду можно заказать сколько угодно позиций&nbsp;&mdash; вместе или по&nbsp;отдельности.

							p Чтобы воспользоваться акцией:
								br
								| 1. Добавь товары в&nbsp;корзину.
								br
								| 2. Введи промокод Легко в&nbsp;специальном поле. Цена пересчитается автоматически.
	// end header-block