mixin header-block()
	// start header-block
	+b.header-block#header-block(data-bg="img/@2x/pattern.jpg")
		.container
			+b.black-fr
				+e.block черная пятница в&nbsp;автошколе
				+e.text скидка 
					|
					span.text-primary 6000 рублей 
					| 
					|  на&nbsp;обучение в&nbsp;автошколе
				+e.btn-wrap
					+e.btn.link-modal.btn-white(href="#modal-call" data-title="Узнать подробнее" data-btn="Узнать подробнее" data-order="Узнать подробнее")  узнать подробнее
					+e.btn.link-modal.btn-primary(href="#modal-call" data-title="Записаться по скидке 6000 руб" data-btn="Записаться по скидке" data-order="Записаться по скидке")  Записаться по скидке
			+e.top-text.d-lg-none  АВТОШКОЛА В ТОЛЬЯТТИ 
				|
				span.text-primary ОТ 7000 руб.
			h1 Уже смотрели сайты конкурентов?
			+e.sub-text У&nbsp;нас вы&nbsp;получаете ряд преимуществ, которые не&nbsp;доступны в&nbsp;других автошколах:
			.row
				mixin item(i)
					+e.col.col-lg-3.col-6
						+e.icon-wrap
							img.lazy.res-i(src="#" data-src=`img/svg/${i}`, alt="")
						block
					// /+e.col.col-lg-3.col-6
				+item("wallet.svg")
					+e.text Начни обучение за&nbsp;1000&nbsp;руб. Не&nbsp;понравится&nbsp;&mdash; вернём деньги!
				+item("tv.svg")
					+e.text Вебинарное обучение в&nbsp;подарок каждому ученику 
						|
						span.text-danger до&nbsp;28.10.2019
				+item("businessman.svg")
					+e.text Персональный инструктор у&nbsp;каждого ученика
				+item("shield.svg")
					+e.text При неудачной сдаче экзамена в&nbsp;МРЭО&nbsp;&mdash; занятие с&nbsp;разбором ошибок
			+e.slider-title записывайся и&nbsp;выигрывай 
				| 
				span.text-primary реальные призы:
			+e.slider.two-slide-js
				mixin stock(i, t)
					+e.slide
						+e.img-wrap.link-modal.link-modal-stock-js(href="#modal-stock")
							img(src="#" data-lazy=`img/${i}`, alt="")
						.d-none.js-block
							.title= t
							block
				- for (var x = 1; x <= 3; x++)
					+stock(`stock-slide-${x}.jpg`,'конкурс: оригинальные airpods')
						p Самая удобная акция на&nbsp;свете: выбирай&nbsp;то, что хочешь сам!

						p Сет Атлантида за&nbsp;459&nbsp;рублей! Филадельфия Лайт, Калифорния с&nbsp;лососем Люкс, Акваланг запеченный унаги, Цезарь с&nbsp;курицей запечённый унаги.

						p Количество товаров по&nbsp;акции неограниченно. По&nbsp;одному промокоду можно заказать сколько угодно позиций&nbsp;&mdash; вместе или по&nbsp;отдельности.

						p Чтобы воспользоваться акцией:
							br
							| 1. Добавь товары в&nbsp;корзину.
							br
							| 2. Введи промокод Легко в&nbsp;специальном поле. Цена пересчитается автоматически.
	// end header-block