mixin s-reviews()
	// start s-reviews
	+b.s-reviews.section#s-reviews&attributes(attributes)
		.container
			.row
				mixin text-rew(t)
					if t == 'a'
						+e.item
							+e.A.link(href='#' target='_blank')
								img.res-i(src='img/@2x/vk.png' alt='')
							+e.item-header
								+e.img-wrap
									img.res-i(src='img/@2x/rew-i1.jpg' alt='')
								+e.item-title Анастасия Богданова
							p В&nbsp;данный момент учусь на&nbsp;вебинарном обучении. Считаю, что в&nbsp;наше динамичное время, с&nbsp;ненормированными рабочими графиками,детьми и&nbsp;т.д. &mdash;&nbsp;это оптимальный способ обучения. Ты&nbsp;сам выбираешь время занятий, если что-то не&nbsp;понятно, можно посмотреть еще раз,всегда можно повторить урок. Супер!!
							p Если есть вопросы, можно придти или позвонить преподавателю. Так&nbsp;же можно посещать очные занятия. Еще один немаловажный момент, за&nbsp;учеников здесь переживают и&nbsp;радуются, как за&nbsp;родных). Это подкупает и&nbsp;безумно радует, видно, что люди любят свою работу, и&nbsp;стараются сделать ее&nbsp;максимально комфортной, удобной и&nbsp;качественной. Спасибо!))
					
					if t == 'd'
						+e.item
							+e.A.link(href='#' target='_blank')
								img.res-i(src='img/@2x/vk.png' alt='')
							+e.item-header
								+e.img-wrap
									img.res-i(src='img/@2x/rew-i2.jpg' alt='')
								+e.item-title Дмитрий
							p Отличная автошкола, добрые и&nbsp;отзывчивые преподаватели, понимающий инструктор Михаил Владимирович, Вам отдельное спасибо. Спасибо преподавателю Андрею Владимировичу. Светлане Васильевне. Вы&nbsp;относитесь к&nbsp;каждому человеку с&nbsp;душой. Спасибо Вам за&nbsp;это.
					
					if t == 'd2'
						+e.item
							+e.A.link(href='#' target='_blank')
								img.res-i(src='img/@2x/vk.png' alt='')
							+e.item-header
								+e.img-wrap
									img.res-i(src='img/@2x/rew-i2.jpg' alt='')
								+e.item-title Дмитрий
							p Отличная автошкола, добрые и&nbsp;отзывчивые преподаватели, понимающий инструктор Михаил Владимирович, Вам отдельное спасибо. Спасибо преподавателю Андрею Владимировичу. Светлане Васильевне. Вы&nbsp;относитесь к&nbsp;каждому человеку с&nbsp;душой. Спасибо Вам за&nbsp;это.
							p Отличная автошкола, добрые и отзывчивые преподаватели
				mixin video-rew(t)
					+e.video-wrap
						<iframe width="560" height="315" src='#' data-src="https://www.youtube.com/embed/hT_nvWreIhg" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


				+e.col.col-lg-6
					+text-rew('a')
				+e.col.col-lg-6
					+video-rew
				+e.col.col-lg-6
					+text-rew('d')
				+e.col.col-lg-6
					+text-rew('d2')
				+e.col.col-lg-6
					+video-rew
				+e.col.col-lg-6
					+text-rew('d2')

	// end s-reviews