mixin s-reviews()
	// start s-reviews
	+b.s-reviews.section#s-reviews&attributes(attributes)
		.container
			.row
				mixin text-rew(i,t, a="#")
					+e.col.col-lg-6
						+e.item
							+e.A.link--vk(href= a target='_blank')
								+icon("vk")
							+e.item-header
								+e.img-wrap
									img.res-i(src=`img/@2x/rew-i${i}.jpg` alt='')
								+e.item-title= t
							block
				mixin video-rew(a="https://www.youtube.com/embed/hT_nvWreIhg")
					+e.col.col-lg-6
						+e.video-wrap
							<iframe width="560" height="315" src='#' data-src= a allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
			
				+text-rew('1','Анастасия Богданова')
					p В данный момент учусь на вебинарном обучении. Считаю, что в наше динамичное время, с ненормированными рабочими графиками,детьми и т.д. - это оптимальный способ обучения. Ты сам выбираешь время занятий, если что-то не понятно, можно посмотреть еще раз,всегда можно повторить урок. Супер!!

					p Если есть вопросы, можно придти или позвонить преподавателю. Так же можно посещать очные занятия. Еще один немаловажный момент, за учеников здесь переживают и радуются, как за родных). Это подкупает и безумно радует, видно, что люди любят свою работу, и стараются сделать ее максимально комфортной, удобной и качественной. Спасибо!))
			
				+video-rew
			
				+text-rew('2','Дмитрий')
					p Отличная автошкола, добрые и отзывчивые преподаватели, понимающий инструктор Михаил Владимирович, Вам отдельное спасибо. Спасибо преподавателю Андрею Владимировичу. Светлане Васильевне. Вы относитесь к каждому человеку с душой. Спасибо Вам за это.
				
				+text-rew('2','Дмитрий')
					p Отличная автошкола, добрые и отзывчивые преподаватели, понимающий инструктор Михаил Владимирович, Вам отдельное спасибо. Спасибо преподавателю Андрею Владимировичу. Светлане Васильевне. Вы относитесь к каждому человеку с душой. Спасибо Вам за это.
					p Отличная автошкола, добрые и отзывчивые преподаватели
			
				+video-rew
			
				+text-rew('2','Дмитрий')
					p Отличная автошкола, добрые и отзывчивые преподаватели, понимающий инструктор Михаил Владимирович, Вам отдельное спасибо. Спасибо преподавателю Андрею Владимировичу. Светлане Васильевне. Вы относитесь к каждому человеку с душой. Спасибо Вам за это.
					p Отличная автошкола, добрые и отзывчивые преподаватели

	// end s-reviews