mixin s-contacts()
	// start s-contacts
	+b.s-contacts.section#s-contacts&attributes(attributes)
		.container
			+e.text Давно выяснено, что при оценке дизайна и&nbsp;композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а&nbsp;также реальное распределение
			+contact-line()
			+e.map-wrap
				img.res-i(src='img/@2x/map.jpg' alt='')

	
	// end s-contacts