.s-contact {
	background-color: #3b3b3b;
	padding-bottom: rem(30);
	h2{
		color: #ffffff;
	}
	.section-title{
		&__text{
			max-width: none;
		}
	}
	&__block{
		@include media-breakpoint-up(md) {
			flex-direction: row;
		}
		flex-direction: column;
		display: flex;
		align-items: center;
		border-radius: 15px;
		background-color: #ffffff;
		justify-content: space-around;
		margin-left: auto;
		margin-right: auto;
		max-width: rem(966px);
		padding: rem(20) 0;
		flex-wrap: wrap;
		>*{
			margin: rem(10);
		}
	}
	&__tel{
		font-weight: 500;
		line-height: 1;
		text-transform: uppercase;
		@include media-breakpoint-up(xl) {
			font-size: rem(60);
		}
		@include rfs(rem(50));
		@extend .text-body;
		@extend .pf;
		text-decoration: none !important;
	}
	&__btn{
		@include media-breakpoint-up(xl) {

			min-width: rem(254);
		}
		min-width: rem(264);
		@extend .btn;
		@extend .btn-primary;
		@extend .btn-sm;
	}
	&__soc{
		display: flex;
		align-items: center;
		color: #4a76a8 !important;
		text-decoration: none !important;
		flex-shrink: 0;
		@extend .pf;
		@extend .h6; 
		@include media-breakpoint-up(md) {

			max-width: rem(150);
		}
		// font-size: $h6-font-size;
		
		font-weight: 500;
		text-transform: uppercase;
	}
	&__icon-wrap{
		flex-shrink: 0;
		width: rem(52px);
		height: rem(52px);
		line-height: rem(52);
		border-radius: 50%;
		text-align: center;
		background-color: #4a76a8;
		margin-right: rem(16);
		.icon{
			color: #ffffff;
			font-size: rem(20);
		}
	}
	&__car-wrap{
		text-align: center;
		position: relative;
		.picture-active{
			@include a-cent;
			opacity: 0;
			&.show{

				animation: car-blick  steps(100,end)  infinite  1s;
			}
		}
	}
	@keyframes car-blick {
		0% { opacity: 0;   } 
		49% { opacity: 0;    } 
		50% { opacity: 1;     }
		100% { opacity: 1;     } 
		// 100% { box-shadow: 0 0 5em 6em rgba($color: #fff, $alpha: 0); }
	}
	&__text{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		max-width: rem(990px);
		color: #b5b5b5;
		line-height: 1.88;
		padding-top: rem(30);
		padding-bottom: rem(50);
	}
	&__foot{
		@include media-breakpoint-up(lg) {

			justify-content: space-between;
			margin-top: rem(-60);
		}
		text-align: center;
		a{
			font-weight: 500;
			line-height: 1.88;
			text-transform: uppercase;
			color: #b5b5b5;
			@extend .pf;
			display: inline-block;
			margin-bottom: rem(10);
			span{
				color: #ffffff;
			}
		}
	}
	//
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}