mixin s-contact()
	// start s-contact
	+b.FOOTER.s-contact.section(data-bg="img/@2x/header-bg.jpg")#s-contact&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 контактная информация
				+e.text Проводим обучение в&nbsp;автозаводском, центральном и&nbsp;шлюзовом районах
			+e.block
				+e.tel(href="tel:+7(927)268-36-77") +7 (927) 268-36-77
				+e.btn.link-modal(href="#modal-call" data-title=`Получить консультацию` data-btn="Получить консультацию" data-order=`Получить консультацию `)  получить консультацию
				+e.soc(href="#")
					+e.icon-wrap
						+icon('vk')
					| группа вконтакте
			+e.text Не&nbsp;откладывайте! Пока вы&nbsp;думаете, другие уже обучаются в&nbsp;нашей автошколе: участвуют в&nbsp;конкурсах, пользуются вебинарной платформой бесплатно и&nbsp;получают водительские права в&nbsp;кротчайшие сроки.
			+e.car-wrap
				+pic("footer-car.png")
				+pic("footer-car-active.png")(class="picture-active")
			+e.foot.row
				.col-lg-auto
					a(href="#") политика конфиденциальности
				.col-lg-auto
					a(href="#") Разработка сайта – 
						span Ishmetov
			//- .row
		
	// end s-contact