.s-contact {
	background-color: #3b3b3b;
	padding-bottom: rem(30);
	background-repeat: repeat;
	background-size: auto;
	h2{
		color: #ffffff;
	}
	.section-title{
		&__text{
			max-width: none;
		}
	}
	&__car-wrap{
		text-align: center;
		position: relative;
		.picture-active{
			@include a-cent;
			opacity: 0;
			&.show{

				animation: car-blick  steps(3,end)  3  .5s;
			}
		}
	}
	@keyframes car-blick {
		0% { opacity: 0;   } 
		49% { opacity: 0;    } 
		50% { opacity: 1;     }
		100% { opacity: 1;     } 
		// 100% { box-shadow: 0 0 5em 6em rgba($color: #fff, $alpha: 0); }
	}
	&__text{
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		max-width: rem(990px);
		color: #b5b5b5;
		line-height: 1.88;
		padding-top: rem(30);
		padding-bottom: rem(50);
	}
	&__foot{
		@include media-breakpoint-up(lg) {

			justify-content: space-between;
			margin-top: rem(-60);
		}
		text-align: center;
		font-weight: 500;
		line-height: 1.88;
		text-transform: uppercase;
		color: #b5b5b5;
		a{
			color: #b5b5b5;
			@extend .pf;
			display: inline-block;
			margin-bottom: rem(10);
			text-decoration: none !important;
			&:hover{
				opacity: 0.7;
			}
		}
				.link{
					color: #ffffff;
					&:hover{
						opacity: 1;
						color: $primary;
					}
				}
	}
	//
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 
	
}
.mobile-tel{
	position: fixed;
	@extend .btn;
	@extend .btn-block;
	@extend .btn-primary;
	bottom: 0;
	left: 0;
	border-radius: 0;
	@include mt;
	transform: translateY(100%);
	&.show{
		transform: translateY(0);
	}
	@include media-breakpoint-up(md) {
		// display: none;
	} 
}