.s-tariffs {
	text-align: center;

	&__item{
		background-color: #ffffff;
		border-radius: 15px;
		border: 1px solid #dadde2;
		@include mt;
		margin-bottom: rem(30);
		&:hover{
			box-shadow: 0 5px 15px rgba(32, 22, 0, 0.2);
		}
		.icon{
			font-size: rem(22);
			margin-left: rem(5);
			margin-right: rem(5);
			stroke: #bbbbbb;
			stroke-width: 1px ;
			color: transparent;
			margin-bottom: rem(25);
			&.star-active{
				stroke: $primary;
				color: $primary;
				stroke-width: 0;
				font-size: rem(24);
			}
		}
	}
	&__body{
		
		padding: rem(28) rem(10);
		border-bottom: 1px solid #dadde2;
	}
	&__foot{
		padding: rem(20) rem(10) rem(25);

	}
	&__title{
		@include rfs(rem(29));
		@extend .asph;
		
		// @extend .h4;
		line-height: 1; 
	}
	picture{
		margin-top: rem(20);
		height: rem(122);
		margin-bottom: rem(24);
	}
	p{
		margin-left: auto;
		margin-right: auto;
		max-width: rem(280);
		line-height: 1.25;
		padding-bottom: rem(5);
		&.strong{
			padding-bottom: rem(7);
			line-height: 1.38;
			
		}
		span{
			display: inline-block;
		}
	}

	&__btn{
		@extend .btn;
		@extend .btn-primary;
		@extend .btn-block;
		margin-left: auto;
		margin-right: auto;
		max-width: rem(300);
		margin-top: rem(12);
		margin-bottom: rem(12);
		
	}
	&__price{
		font-weight: 500;
		line-height: 1;
		text-transform: uppercase;
		@include rfs(rem(48));
		@extend .pf;
		margin-bottom: rem(10);
	}

		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}


.stock-block{
	 
	@extend .row;
	margin-left: -7px;margin-right: -7px;
	justify-content: center;
	&__item{
		margin-left: 7px;
		margin-right: 7px;
		// flex-grow: 1;
		width: rem(70);
		height: rem(70);
		border-radius: 15px;
	
		img
		{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		position: relative;
		// overflow: hidden;
		background-color: #9ac1e8;
		// @extend .row;

	}
	
}
.stock-block__dropdown{
	position: absolute;
	@include a-cent(x);
	bottom: calc(100% + #{rem(15)});
	font-size: rem(14);
	line-height: 1.43; 
	box-shadow: 0 5px 15px rgba(32, 22, 0, 0.2); 
	background-color: #ffffff;
	width: rem(270);
	padding: 1em 1em;
	border-radius: 15px;
	// display: none;
	// opacity: 0;
	&::before{
		content: '';
		@include triangle( rem(30px) rem(15), #fff, down);
		@include a-cent(x);
		top: 100%;
	}
}
.stock-block__item:hover .stock-block__dropdown{
	// display: block;
	opacity: 1;
	z-index: 4;
}