mixin s-auto(t)
	// start s-auto
	+b.SECTION.s-auto.section#s-auto&attributes(attributes)
		.container
			if t
				+b.section-title.text-center
					h2 наш автопарк
					+e.text В&nbsp;нашем автопарке полностью исправные и&nbsp;комфортные автомобили
			else
				block
			+e.slider.two-slide-js
				mixin slide(x,t)
					+e.slide
						+e.img-wrap() 
							img(src="#" data-lazy=`${x}.jpg`, alt="")
						+e.title= t
					// +e.slide
				+slide("img/@2x/auto-1",'lada vesta')
				+slide("img/@2x/auto-2",'renault logan')
				+slide("img/@2x/auto-3",'lada kalina')
				+slide("img/@2x/auto-4",'lada granta')
				+slide("img/@2x/auto-5",'lada kalina')
	// end s-auto